<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OSFK-WOMS </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*@Scripts.Render("~/bundles/bootstrap")*@
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Work Order Management System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Work Orders
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Start New Work Order", "Create", "WorkOrders")</li>
                            <li>@Html.ActionLink("View Active", "Index", "WorkOrders")</li>

                            <li>@Html.ActionLink("View Completed", "GetAllCompletedWO", "WorkOrders")</li>
                            <li>@Html.ActionLink("View All", "GetAllWorkorders", "WorkOrders")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Customers
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Create New Customer", "Create", "Customers")</li>
                            <li>@Html.ActionLink("View All Customers", "Index", "Customers")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Mechanics
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @*Mechanic Menu*@
                            <li>@Html.ActionLink("Create New Mechanic", "Create", "Mechanics")</li>
                            <li>@Html.ActionLink("View All Mechanics", "Index", "Mechanics")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Bicycles
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @*Bicycles Menu*@
                            <li>@Html.ActionLink("View All Bicycles", "Index", "BikeModels")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Invoices
                            <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">
                            @*Invoice Menu*@
                            <li>@Html.ActionLink("View All Invoices", "Index", "Invoice")</li>
                            @*rejection not implemented yet*@
                            <li>@Html.ActionLink("Outstanding Invoices", "GetAllUnPaidInvoices", "Invoice")</li>
                            <li>@Html.ActionLink("Paid Invoices", "GetAllPaidInvoices", "Invoice")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Models / Manufacturers
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("List of Manufacturers", "Index", "Manufacturers")</li>
                            <li>@Html.ActionLink("List of Models", "Index", "Model")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                           Reports
                            <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">
                            @*Reports Menu*@
                            <li>@Html.ActionLink("View All Reports", "Index", "Reports")</li>
                            @*rejection not implemented yet*@
                            <li>@Html.ActionLink("Manufacturer: By popularity", "ManufacturerPopularity", "Reports")</li>
                            <li>@Html.ActionLink("Service Items: By Popularity", "ServiceItemPopularity", "Reports")</li>
                            <li>@Html.ActionLink("Mechanic Report", "MechanicReports", "Reports")</li>
                            <li>@Html.ActionLink("Invoice Report", "InvoiceReports", "Reports")</li>
                        </ul>
                    </li>
                </ul>
               @* @Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Group 9(Michael Overall, Tanvir Sarkar, Dan Foster, Igor Krasnyanskiy)</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
